@import "../../styles/_utils.scss";
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 1rem;
}
.logo {
  display: block;
  font-size: var(--font-size-xl);
}
.current {
  font-size: var(--font-size-xl);
}
.btn-today {
  text-align-last: center;
  border: 1px solid var(--color-primary);
  color: var(--color-black);
  border-radius: 30px;
  font-size: var(--font-size-lg);
  padding: 10px 30px;
}
.arrow-box {
  display: flex;
  gap: 10px;
  margin-left: auto;
}
.left,
.right {
  display: block;
  width: 50px;
  height: 50px;
}
.select-box {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align-last: center;
  border: 1px solid var(--color-primary);
  color: var(--color-black);
  border-radius: 30px;
  font-size: var(--font-size-lg);
  padding: 10px 30px;

  .options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-primary);
    border-radius: 10px;
    overflow: hidden;
    z-index: 10;

    .option {
      padding: 10px 30px;
      color: var(--color-white);
      &:hover {
        background-color: var(--color-accent);
      }
    }
  }
}
@include mobile {
  header {
    justify-content: space-between;
    margin-top: 10px;
  }
  .btn-today,
  .select-box {
    padding: 6px 16px;
    font-size: var(--font-size-sm);
  }
  .arrow-box {
    display: none;
  }
}
